<%-helpers.translate('Hi {firstName},', user)%> <br />
<br />
<%-helpers.translate('We have successfully received your request to reset the password.')%> <br />
<br />
<%-helpers.translate('If you want to reset your password please follow the link:')%> <br />
<a href="<%=link%>" target="_blank"><%=link%></a>
<br />
<br />
<%-helpers.translate('If you have not requested for the password reset, please contact us as soon as possible.')%> <br />
<br />
<%-helpers.translate('Kind Regards')%>, <br />
<%-helpers.translate('companyName')%> <br />
<br />
<small> <%-helpers.translate('email_footer_disclaimer')%> </small>
