<!DOCTYPE html>
<html lang="<%=language%>">
  <%- include('/templates/layouts/_head', {helpers: helpers}) %>
  <body>
    <div class="default-layout error-layout">
      <%- include('/templates/layouts/_header', {helpers: helpers}) %>
      <main class="main-content">
        <%-_body %>
      </main>
      <%- include('/templates/layouts/_footer', {helpers: helpers}) %>
    </div>
    <%- include('/templates/layouts/_scripts', {helpers: helpers}) %>
    <%- include('/templates/layouts/_cookiesAlert', {helpers: helpers}) %>
  </body>
</html>
