<div id="scripts">
  <script type="text/javascript">
    window.app = {
      admin: false,
      config: {},
      routes: {},
    };
  </script>
  <% if(_clientConfigJson) { %>
  <script type="text/javascript">
    window.app.config = <%-_clientConfigJson%>;
  </script>
  <% } %>
  <script src="/js/lodash.bundle.js?v=<%=_version%>"></script>
  <script src="/js/react-dom.bundle.js?v=<%=_version%>"></script>
  <script src="/js/rsuite.bundle.js?v=<%=_version%>"></script>
  <script src="/js/common.vendor.bundle.js?v=<%=_version%>"></script>
  <script src="/js/app.vendor.bundle.js?v=<%=_version%>"></script>
  <script src="/js/admin~app.bundle.js?v=<%=_version%>"></script>
  <script src="/js/app.bundle.js?v=<%=_version%>"></script>
</div>
