<!DOCTYPE html>
<html lang="<%=language%>">
  <%- include('/themes/_shared/templates/_head', {helpers: helpers}) %>
  <body>
    <div id="root">
      <%- include('/themes/_shared/templates/_loading', {helpers: helpers}) %>
      <div class="rs-container blank-template">
        <div class="rs-content main-content">
          <%-_body %>
        </div>
      </div>
    </div>
    <%- include('/themes/_shared/templates/_scripts', {helpers: helpers}) %>
  </body>
</html>
